.footer__inner {
    margin: 1vh 0;
    padding: 16px;
    border-radius: var(--rounding);
    background: var(--primary);
    color: var(--background);

    display: flex;
    justify-content: center;
}

.footer__logo {
    fill: var(--background);
}
