.header__inner {
    position: fixed;
    width: var(--width);

    margin: 1vh 0;
    padding: 16px;
    border-radius: var(--rounding);
    background: var(--primary);
    color: var(--background);

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__logo {
    fill: var(--background);
}

.header__navigation__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navigation__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__navigation__item {
    text-decoration: none;
}

.header__navigation__item__icon {
    width: 18px;
    height: 18px;
    fill: var(--background);
}

.header__navigation__item__name {
    font-weight: 600;
    font-size: 12px;

    margin-left: 6px;
    color: var(--background);
}
