input[type=file]::file-selector-button {
    border: none;
    background: var(--primary);
    padding: 10px 20px;
    margin-right: 24px;
    border-radius: var(--rounding);
    color: var(--background);
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: var(--primary_secondary);
}