.navigation__desktop {
    background: var(--primary);

    padding: 24px 38px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;

    border-radius: var(--rounding);
}

.navigation__desktop__item {
    display: flex;
    padding: 4px 0;
}

.navigation__desktop__item__icon {
    fill: var(--background_secondary);
}

.navigation__desktop__item__icon__active {
    fill: var(--background);
}

.navigation__desktop__item__name {
    margin-left: 8px;
}

.navigation__mobile {
    color: var(--primary);
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}


.navigation__mobile__item {
    width: 100%;
    text-align: center;

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}


.navigation__mobile__item__icon {
    fill: var(--background_secondary);
}

.navigation__mobile__item__icon__active {
    fill: var(--background_primary);
}